<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/write" method="post">
        <table border="1" width="400">
        	<tr>
        		<th>이름</th>
        		<td><input type="text" name="name" maxlength="10"></td>
        	</tr>
        	<tr>
        		<th>제목</th>
        		<td><input type="text" name="title" maxlength="50"></td>

        	</tr>
        	<tr>
        		<th>내용</th>
        		<td><textarea name="content" rows="10" cols="30"></textarea></td>
        	</tr>
        	<td colspan="2">
        		<input type="submit" value="쓰기">
        		<input type="reset" value="취소">
        	</td>
        </table>

    </form>

  </body>
</html>
